<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" " http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.hope.demo.mapper.AdministratorMapper">
	<resultMap type="edu.hope.demo.model.Administrator" id="administrator_result">
	<id column="administratorsid" property="administratorsid" javaType="java.lang.Integer" jdbcType="INTEGER"/>
	<result column="name" property="name" javaType="java.lang.String" jdbcType="VARCHAR"/>
	<result column="phonenumber" property="phonenumber" javaType="java.lang.String" jdbcType="VARCHAR"/>
	<result column="username" property="username" javaType="java.lang.String" jdbcType="VARCHAR"/>
	<result column="password" property="password" javaType="java.lang.Integer" jdbcType="VARCHAR"/>
	</resultMap>
 <select id="selectAllAdministrators" resultMap="admin_result">
	select * from administrators
 </select>
 <!-- 管理员登陆：以管理员用户名及密码为条件搜索数据库 -->
  <select id="selectByusername" parameterType= "string" resultType="user_result">
        select * from administrators where username = #{username}
  </select>
  <select id = "selectBypassword" parameterType="string" resultType="password_result">
        select * from administrators where password = #{password}
  </select>
 <!-- 增加管理员 -->
 <insert id="addadministrators" parameterType="admin_result">
        insert into administrators (administratorsid, name, phonenumber, username, password)
        values (#{administratorsid}, #{name}, #{phonenumber}, #{username,}, #{password})
 </insert>
 <!-- 删除用户 -->
 <delete id="delete" parameterType="string">
		delete from user where id=#{id}
 </delete>
 <!-- 修改积分 -->
 <update id="update" parameterType="int">
	update user set user.point=#{point} where user.id=#{id}
 </update>
</mapper>