<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" " http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.hope.demo.mapper.QuestionsMapper">
 <resultMap type="edu.hope.demo.model.Questions" id="question_result">
    <id column="id" property="id" javaType="java.lang.String" jdbcType="VARCHAR"/>
	<result column="questionid" property="questionid" javaType="java.lang.String" jdbcType="VARCHAR"/>
	<result column="questionname" property="questionname" javaType="java.lang.String" jdbcType="VARCHAR"/>
	<result column="points" property="points" javaType="java.lang.Integer" jdbcType="Integer"/>
	<result column="questions" property="questions" javaType="java.lang.String" jdbcType="VARCHAR"/>
	<result column="unsolved" property="unsolved" javaType="java.lang.String" jdbcType="enum"/>
</resultMap>
<select id="selectAllQuestions" resultMap="question_result">
   select * from movies
</select>
</mapper>